.container{
    position: relative;
}

.content{
    padding: 8px 15px 8px 15px;
    border-bottom: 4px solid rgb(166, 166, 223);
    background-color: #f8fafd;
}

.shape-blue{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0px 100px 150px 0;
    filter: blur(100px);
    border-radius: 50%;
    z-index: 0 !important;
    background-color: rgb(48, 109, 161);
}

@media screen and (max-width:774px) {
    .card{
        width: 47% !important;
    }
}
@media screen and (max-width:450px) {
    .card{
        width: 90% !important;
        margin: auto;
    }
}
@media screen and (max-width:500px) {
    .form-control.search{
        width: 150px;
    }
}
@media screen and (max-width:400px) {
    .form-control.search{
        width: 120px;
    }
}
